# 重複ツイートに対する分析

In [1]:
import pandas as pd
import collections

In [21]:
df = pd.read_csv('../data/1.train_data.csv')

In [3]:
df.head()

,id,flg,keyword,location,text
0,20587,0,覚醒剤,icon:大トロ(@sato_wall_aim ),【マイリスト】カカカカ覚醒剤 https://t.co/15ZY9Oa2QS #sm3630...
1,31857,0,雷 落雷,ジャングル,@kenjikenji3343 せやな 落雷撃たれたら全員張り付くしかなかったからなぁ なん...
2,36793,0,血液,↓↓↓↓↓こちらをクリック↓↓↓↓,【カフェインの力】 体を動かす前にカフェインを摂ると交感神経が刺激され、体内の脂肪が分解され...
3,42299,0,ハリケーン,Close to your heart,あなたの鼓膜に直に響かせたい ハリケーンのように激しく愛したい 余計な壁なんて取っ払って 奥...
4,51449,0,殺人鬼,偽物なので悪しからず,@Mr8yt 違う違う。お化けは現実にいないけど殺人鬼は現実にいるじゃん〜。うーん、ホラーっ...

In [4]:
texts = df.text.to_list()

In [5]:
c = collections.Counter(texts)

In [6]:
c.most_common()[:10]

[('こちらは爆撃垢です', 14),
 ('法務省官僚が法律を守らずに犯罪してますが、税務署職員全員が脱税していながら国民に税金払わせたり、警察官が大量殺人事件を起こして逮捕されないのに万引きしたら国民は死刑になりそうな世の中になっていますね(´・ω・｀)  法務省の犯罪は止めましょう！',
  10),
 ('爆撃', 8),
 ('立てこもり犯は、ほぼ逃げ切れない。逃げ切るには第三者の協力が必要。＃犯罪あるある', 8),
 ('＃3年A組\u3000＃5話ネタバレ\u3000＃5話見どころ  3年A組 5話のあらすじや見どころ・ネタバレをお届けします  柊先生が倒れたのに、立てこもりを続ける理由は？  https://t.co/zPcQYpU1Qp',
  8),
 ('SA330はフランスのシュドアビアシオン及びその後身アエロスパシアル製の汎用ヘリコプターで兵士20人か担架6台を積載可能な全天候型汎用ヘリコプターとして開発されておりフランス空軍では29機を装備している。 https://t.co/5uslybEzZa',
  7),
 ('1950年11月27日、在日朝鮮人が生活保護を要求して 長田区 役所を襲撃した！その後も、在日朝鮮人は、1951年の下 里村 役場集団恐喝事件、1952年の万来町事件など、生活保護費受給を求める騒乱事件を相次いで起こした。',
  7),
 ('え？先輩立てこもりっすか？ 【×立てこもり→⚪︎引きこもり】', 6),
 ('阪神・淡路大震災のとき家を放りだされて避難生活をした人間にとっては偽善かどうかはどうでもいいの。助けてくれたという事実だけが大切なの。予備校講師、萩野文子さんの言葉です。',
  6),
 ('＃3年A組\u3000＃5話ネタバレ\u3000＃5話見どころ  3年A組 5話のあらすじや見どころ・ネタバレをお届けします  柊先生が倒れたのに、立てこもりを続ける理由は？  https://t.co/c95X1RV6dL',
  6)]

## 重複して出現するかつラベリングミスしているもの
- これらは削除する必要がある
- それ以外は1文に集約

In [11]:
df_mislabeled = df.groupby(['text']).nunique().sort_values(by='flg', ascending=False)
df_mislabeled[df_mislabeled.flg > 1]
#df_mislabeled = df_mislabeled[df_mislabeled['flg'] > 1]['flg']
#df_mislabeled.index.tolist()

,id,flg,keyword,location,text
text,,,,,
JR東海道線であわや大惨事 崩落現場からわずか100m手前でストップ #ldnews https://t.co/St6BSmNitE,2,2,1,1,1
武漢から退避するドイツ救援機の着陸許さず ロシアへ反発も。ドイツ国防相は1日、中国・武漢から帰国の途についた空軍救援機に言及。乗員交代のために計画露モスクワでの一時着陸が許可されなかった。空港の能力不足が理由とされるが、ドイツ政界からはロシアへの反発もある( ･ω･),5,2,1,3,1
◆鹿児島市星ヶ峯の市道で､市街地方面に向かっていた普通乗用車が対向車線をはみ出し､直進してきたﾊﾞｲｸと正面衝突した｡この事故でﾊﾞｲｸに乗っていた畠中正典さん５２歳が頭などを強く打ち､搬送先の病院で死亡した｡畠中さんは新聞配達のｱﾙﾊﾞｲﾄ中でした｡,2,2,1,0,1
北海道・長野で雪崩相次ぐ、英国人ら巻き込まれ死亡。(・｀ω´・),4,2,1,2,1

In [27]:
df.loc[df.text == 'JR東海道線であわや大惨事 崩落現場からわずか100m手前でストップ #ldnews https://t.co/St6BSmNitE', 'flg'] = 0

In [25]:
df[df.text == 'JR東海道線であわや大惨事 崩落現場からわずか100m手前でストップ #ldnews https://t.co/St6BSmNitE']

,id,flg,keyword,location,text
16319,48892,0,崩落,東京都葛飾区 亀有公園前派出所,JR東海道線であわや大惨事 崩落現場からわずか100m手前でストップ #ldnews htt...
19068,48705,0,崩落,東京都葛飾区 亀有公園前派出所,JR東海道線であわや大惨事 崩落現場からわずか100m手前でストップ #ldnews htt...

## 重複削除の検討
  - textがかぶっていてもkeywordかlocationが違う場合がある
  - どの場合に重複とするか検討

In [36]:
# これで良さそう
df.drop_duplicates(subset=['text', 'location']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19904 entries, 0 to 20284
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        19904 non-null  int64
 1   flg       19904 non-null  int64
 2   keyword   19904 non-null  object
 3   location  11696 non-null  object
 4   text      19904 non-null  object
dtypes: int64(2), object(3)
memory usage: 933.0+ KB

In [32]:
df.drop_duplicates(subset=['text']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19866 entries, 0 to 20284
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        19866 non-null  int64
 1   flg       19866 non-null  int64
 2   keyword   19866 non-null  object
 3   location  11667 non-null  object
 4   text      19866 non-null  object
dtypes: int64(2), object(3)
memory usage: 931.2+ KB

In [34]:
df.drop_duplicates(subset=['text', 'keyword', 'location']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19930 entries, 0 to 20284
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        19930 non-null  int64
 1   flg       19930 non-null  int64
 2   keyword   19930 non-null  object
 3   location  11708 non-null  object
 4   text      19930 non-null  object
dtypes: int64(2), object(3)
memory usage: 934.2+ KB

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20285 entries, 0 to 20284
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        20285 non-null  int64
 1   flg       20285 non-null  int64
 2   keyword   20285 non-null  object
 3   location  11819 non-null  object
 4   text      20285 non-null  object
dtypes: int64(2), object(3)
memory usage: 792.5+ KB