In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/1.train_data.csv')

In [3]:
df = df.fillna({'location': 'nan'})

In [4]:
df.head()

,id,flg,keyword,location,text
0,20587,0,覚醒剤,icon:大トロ(@sato_wall_aim ),【マイリスト】カカカカ覚醒剤 https://t.co/15ZY9Oa2QS #sm3630...
1,31857,0,雷 落雷,ジャングル,@kenjikenji3343 せやな 落雷撃たれたら全員張り付くしかなかったからなぁ なん...
2,36793,0,血液,↓↓↓↓↓こちらをクリック↓↓↓↓,【カフェインの力】 体を動かす前にカフェインを摂ると交感神経が刺激され、体内の脂肪が分解され...
3,42299,0,ハリケーン,Close to your heart,あなたの鼓膜に直に響かせたい ハリケーンのように激しく愛したい 余計な壁なんて取っ払って 奥...
4,51449,0,殺人鬼,偽物なので悪しからず,@Mr8yt 違う違う。お化けは現実にいないけど殺人鬼は現実にいるじゃん〜。うーん、ホラーっ...

In [7]:
df[df.location == 'nan'].flg.value_counts()

0    7921
1     545
Name: flg, dtype: int64

In [8]:
df[df.location != 'nan'].flg.value_counts()

0    10930
1      889
Name: flg, dtype: int64

In [10]:
df_has_location = df[df.location != 'nan']
df_has_location.head()

,id,flg,keyword,location,text
0,20587,0,覚醒剤,icon:大トロ(@sato_wall_aim ),【マイリスト】カカカカ覚醒剤 https://t.co/15ZY9Oa2QS #sm3630...
1,31857,0,雷 落雷,ジャングル,@kenjikenji3343 せやな 落雷撃たれたら全員張り付くしかなかったからなぁ なん...
2,36793,0,血液,↓↓↓↓↓こちらをクリック↓↓↓↓,【カフェインの力】 体を動かす前にカフェインを摂ると交感神経が刺激され、体内の脂肪が分解され...
3,42299,0,ハリケーン,Close to your heart,あなたの鼓膜に直に響かせたい ハリケーンのように激しく愛したい 余計な壁なんて取っ払って 奥...
4,51449,0,殺人鬼,偽物なので悪しからず,@Mr8yt 違う違う。お化けは現実にいないけど殺人鬼は現実にいるじゃん〜。うーん、ホラーっ...